<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-steam-wave-international-film-festival-banner-poster-image_195212.jpg);">
  <div class="container">
    <h1>Bookmarks</h1>
    <%= link_to "New bookmark", new_bookmark_path, class: "my-3 btn btn-primary rounded shadow-sm" %>
  </div>
</div>

<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1>Bookmarks</h1>

  <div id="bookmarks">
    <% @bookmarks.each do |bookmark| %>
      <%= render bookmark %>
    <% end %>
  </div>

</div>
