

<div class="container mt-5 py-5">
  <p style="color: green"><%= notice %></p>

  <%= render @movie %>

  <div class="my-3 d-flex justify-content-evenly">
    <%= link_to "Edit this movie's details", edit_movie_path(@movie), class:"btn btn-info shadow-sm rounded" %>
    <%= link_to "Add this movie to a list by bookmarking it.", new_bookmark_path, class: "btn btn-primary rounded shadow-sm" %>
  </div>

</div>
