

<div class="container mt-5 py-5">
  <p style="color: green"><%= notice %></p>

  <%= render @movie %>

  <div>
    <%= link_to "Edit this movie", edit_movie_path(@movie), class:"btn btn-info shadow-sm mt-3 rounded" %>
  </div>

</div>
