<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/lists">
      <%= image_tag "video-solid.svg", alt: "video icon" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  data-action="click->navbar#toggleCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-navbar-target="collapse" >
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Movies", movies_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Bookmarks",  bookmarks_path%>
          </li>
          <li class="nav-item">
              <%= link_to "Lists",  lists_path%>
          </li>
          <li class="nav-item dropdown">

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
